:root {
    --green-primary: #2b7a0b;
    --green-secondary: #4caf50;
    --accent: #f2c94c;

    --typography: Arial, 'sans-serif';
   
    --icon-person: url('/img/icon-person.png');
    --icon-heart: url('/img/icon-heart.png');

    --text-dark: #222;
    --text-light: #fff;

    --background-light: #f9f9f9;
    --background-dark: #121212;
    

    /* background for light/dark mmode later */
    --background-light: #f9f9f9;
    --background-dark: #121212;
}

*, 
::before, 
::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

a:hover {
    color: var(--green-secondary);
    text-decoration: underline;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--typography);
    color: var(--text-dark);
    background: var(--background-light);
}


/* header */
header {
    width: 100%;
    background: var(--green-primary);
}

.navbar {
    display: flex;
    justify-content: sspace-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* main */

.hero {
    display:flex;
}

/* footer */