:root {
    --green-primary: #2b7a0b;
    --green-secondary: #4caf50;
    --accent: #f2c94c;
    --text-dark: #222;
    --text-light: #fff;
    --spacing: 1rem;
    --border-radius: 8px;
    --typography: Arial, 'sans-serif';
    /* background for light/dark mmode later */
    --background-light: #f9f9f9;
    --background-dark: #121212;
}

*, ::before, ::after {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}